<!--navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark"style="background-color: #000000;">
  <!-- Navbar content -->
      <a class="navbar-brand" href="#">Logo</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
          <div class="container my-container">
            <div class="row my-row">
                <div class="col-md-8 col-sm-6 my-col">

                </div>
                <div class="col-md-4 col-sm-6 my-col">
                <ul class="navbar-nav navbar-right">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Jeffrey</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item active">     
                  <!--navbar options start-->
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Options
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Jeffrey's page</a>
                    <a class="dropdown-item" href="#">Haci's page</a>
                    <a class="dropdown-item" href="#">Jannick's page</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Plain stupid</a>
                  </div>
                  <!--navbar options end-->
                </li>
              </ul>
            </div>
        </div>
    </div>
    </nav>